.main{
    margin:auto;
    padding:20px;
    text-align: center;
}
.details{
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}
.table{
    width:1200px;
    margin: auto;
}
.table thead{
    background-color: rgb(23, 84, 165);
    color: aliceblue;
}
.table td,th{
    padding:15px;
    font-size: 20px;
    border: 2px solid black;
}
.main span{
 background-color:rgb(226, 226, 240); 
 border-radius: 20px;
 padding: 5px 10px;  
 color: red;
}
.table select{
    background-color:rgb(240, 240, 255);
    padding: 15px;
    border-radius: 20px;
}
table option{
    padding:10px;
    background-color: yellowgreen;
}
